%h4 Neuer Eintrag
= form_for(@comment) do |f|
  .field
    = f.label :username
    = f.text_field(:username, :value => @username, :size => '10')
  .field
    = f.label :comment
    = f.text_area(:comment, :size => '30x10')
  .field
    = f.hidden_field :commentable_id, :value =>  @cid
    = f.hidden_field :commentable_type, :value => @type
    = f.submit "Save changes", class: "btn btn-large btn-primary"
