.modal.fade{:id=> "new_postit#{fieldid}", :tabindex => "-1"}
  .modal-header
    %h4.modal-title New postit
  .modal-body
    .modal-body-content
      = form_for(@postit) do |f|
        .row
          .col-md-3
            = f.label :title
          .col-md-6
            = f.text_field(:title, :size => 40)
        .row
          .col-md-3
            = f.label :content
          .col-md-6
            = f.text_area(:content, :size => '40x5')
        .row
          .col-md-3
            = f.label :link
          .col-md-6
            = f.text_field(:link, :size => 40)
        .row.pull-right
          = f.hidden_field :canvas_field_id, :value =>  fieldid
          %button.btn{"data-dismiss" => "modal", :type => "button"} Close
          = f.submit "Save changes", class: "btn btn-large btn-primary"
