.row.top
  .col-md-10
    .row
      .col-md-2.nopadding
        .f2
          = render :partial => 'canvasfield', :locals => { :field => @keypartners }
      .col-md-3.nopadding
        .row
          .col-xs-12
            .f
              = render :partial => 'canvasfield', :locals => { :field => @keyactivities }
        .row
          .col-xs-12
            .f
              = render :partial => 'canvasfield', :locals => { :field => @keyresources }
      .col-md-2.nopadding
        .f2
          = render :partial => 'canvasfield', :locals => { :field => @valuepropositions }
      .col-md-3.nopadding
        .row
          .col-xs-12
            .f
              = render :partial => 'canvasfield', :locals => { :field => @customerrelations }
        .row
          .col-xs-12
            .f
              = render :partial => 'canvasfield', :locals => { :field => @channels }
      .col-md-2.nopadding
        .f2
          = render :partial => 'canvasfield', :locals => { :field => @customersegments }

    .row.bottom
      .col-md-6.nopadding
        .f
          = render :partial => 'canvasfield', :locals => { :field => @coststructure }
      .col-md-6.nopadding
        .f
          = render :partial => 'canvasfield', :locals => { :field => @revenuestreams }

  .col-md-2
    = render :partial => 'shared/username'
    .panel.panel-default
      .panel-heading
        = link_to "Comments", '#comments_main', data: { toggle: "modal" }
        .pull-right
          = link_to '+', '#new_comment', data: { toggle: "modal" }, :title => "New", :class => "badge"
      .panel-body
        = render @businessmodel.comments.limit(3)
        - if @businessmodel.comments.count > 3
          = link_to "(" + (@businessmodel.comments.count - 3).to_s + " more...)", '#comments_main', data: { toggle: "modal" }

= render 'comments/new'
= render :partial => 'comments/index', :locals => { :tagit => "main", :comments => @comments}
