.row.top
  .pull-left
    %strong= link_to 'Back to Businessmodel', @canvasfield.businessmodel
.row.top.bottom
  .col-md-10.nopadding
    .f2
      .panel.panel-default
        .panel-heading
          = @canvasfield.title
          .pull-right
            = link_to '+', '#new_postit', data: { toggle: "modal" }, :title => "New", :class => "badge"
        .panel-body
          .row
            - @canvasfield.postits.each do |p|
              .col-md-4
                .panel.panel-warning
                  .panel-heading
                    = link_to p.title, edit_postit_path(p), :title => "Edit"
                  .panel-body
                    = p.content
  .col-md-2
    = render :partial => 'shared/username'
    .panel.panel-default
      .panel-heading
        = link_to "Comments", '#comments', data: { toggle: "modal" }
        .pull-right
          = link_to '+', '#new_comment', data: { toggle: "modal" }, :title => "New", :class => "badge"
      .panel-body
        = render @canvasfield.comments.limit(3)
        - if @canvasfield.comments.count > 3
          = link_to "(" + (@canvasfield.comments.count - 3).to_s + " more...)", '#comments', data: { toggle: "modal" }

= render 'comments/new'
= render 'comments/index'
= render 'postits/new'
